.Container 
    {
        left: 9px;
        top: 5px;
        width: 3px;
        height: 30px;
        border: solid rgb(51, 167, 28);
        border-width: 0 3px 3px 0;
        color:rgb(70,70,50);
        
      }
 